:root{
    --primary-ff: "Poppins", sans-serif;
    --primary-bg-color: #1F1D2B;
    --secondary-bg-color: #808191;
    --tetriary-bg-color: #242730;
    --primary-color: #FFFFFF;
    --secondary-color: #808191;
    --tetriary-color: rgba(183,185,210,1.0);
    --primary-radius: 10px;
    /* night mode */
    --light: #f1f1f1;
    --label: #111; 
}